# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
- List popular languages for Data Science
- List popular tools for Data Science
- List popular libraries for Data Science

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. ggplot

|Data Science Tools|
|----------|
|Anaconda|
|R Studio|
|Jupiter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hassan Shahzad